#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
  font-family: sans-serif;
}

.title {
  background-color: blue;
  color: white;
  font-size: 30px;
  width: auto;
  height: 40px;
}

.search-title {
  display: flex;
}
.input {
  margin-left: 15px;
  margin-right: 10px;
  display: flex;
  height: 20px;
  width: 200px;
}

