#root {
  font-family: sans-serif;
}

.title {
  background-color: blue;
  color: white;
  font-size: 30px;
  width: auto;
  height: 40px;
}

.search-title {
  display: flex;
}
.input {
  margin-left: 15px;
  margin-right: 10px;
  display: flex;
  height: 20px;
  width: 200px;
}

.autocomplete {
  border: black 1px solid;
  margin-left: 160px;
  display: block;
  width: 205px;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-size: 16px;
}

.link:hover {
  color: white;
  background-color: blue;
}